rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isOwner(userId) 
                    && request.resource.data.role in ['student', 'teacher', 'parent'];
                    
      // A user can update their own document as long as they don't change their role.
      // Alternatively, a parent can update a student's document to add themselves to parentIds.
      allow update: if (isOwner(userId) && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['role'])))
                    || (
                      isSignedIn() 
                      && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['parentIds'])
                      && request.resource.data.parentIds.hasAll([request.auth.uid])
                    );
    }
    
    match /courses/{courseId} {
      allow read: if isSignedIn();
      allow write: if false; 
    }
  }
}
